/* Import a pre-built theme */
@use '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.main-container {
  padding: 24px;
}

/* Helper class to center forms */
.centered-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Adjust height as needed */
}

.centered-card {
  width: 100%;
  max-width: 400px;
}
